/*color = linear -gradient(to right, #C49FFF, #9FCDA8);
color = linear -gradient(to right, #FEF503, #8FB43A);*/
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, #C49FFF, #9FCDA8);
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

 .image-container {
            position: fixed; 
            top: 0;
            left: 0;
            
        }
.image-container img {
            width: 300px; 
            height: auto; 
            margin: 20px; 
            color:black
        }

        .navbar {
            position: fixed; 
            top: 0;
    
            margin: 20px; 
            display: flex;
            flex-direction: column;
        }

        .menu, .menu a {
            margin-bottom: 10px; 
            text-decoration: none;
            color: greenyellow;
            font-weight: bold;
            transition: color 0.3s; 
            &:hover {
                color: darkgreen;
            }
            display: flex;
           flex-direction: row;
            align-items: center;
            justify-content: space-between;
            list-style: none;
        }

        a {
            text-decoration: none;
            color: greenyellow;
            font-weight: bold;
            transition: color 0.3s; 
            display: block;
            padding-left: 15px;
            padding-right: 15px;
        }

h1 {
    color: #c10fd1;
    margin-bottom: 70px;
}
.ajout {
    color: blue
}
.container {
   
    padding: 50px;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #C49FFF, #9FCDA8);
    margin: 10px;
}

th, td {
    padding: 10px;
}
 .head {
    background: linear-gradient(to left, #C49FFF, #9FCDA8);
    margin-bottom: 100px;
    padding: 50px;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
    margin: 10px;
}
.user-form {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

label 
{
    font-weight: bold;
    margin-bottom: 5px;
   
}
input[type="text"], input[type="email"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    background-color: rgb(109, 208, 250);
    margin-bottom: 15px;
}

select {
    background-color: rgb(250, 156, 109);
    color: rgb(78, 66, 246);
    width : 320px;
}
.submit-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #2bf035;
    color: rgb(78, 66, 246);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button ::-ms-value {
    color: rgb(225, 34, 34);
}
.submit-button:hover {
    background-color: #dc830e;
}
/* 
.colored-input {
    background-color: #f0f8ff; /* Couleur de fond claire (exemple : bleu très pâle)
    border: 1px solid #a6caf0; /* Bordure optionnelle pour un meilleur rendu
    padding: 8px; /* Espacement interne pour améliorer la lisibilité
}

/* Style au survol (optionnel) 
.colored-input:hover {
    background-color: #e6f2ff; /* Couleur légèrement plus foncée au survol */
/* } */
